  .trbc, .card-deck {
    background:transparent !important;
  }

  .card-deck {
    margin-top: 30px;
  }
  
  p, li, td, th, h1, h2, h3, h4 {
    color: rgb(141, 217, 247) !important;
  }
  
  body {
    /* background: url("../images/bc.jpg"); */
    /* font-family: ''; */
    
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    background: rgb(7, 98, 216);
    opacity:0.9; 
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  .historyBar {
    max-height:31px;
    overflow:hidden
  }
  
  .modal,.modal-open {
    top:100px;
    right:0px;
    left:auto;
    max-height: 100%;
    overflow-y:hidden!important;
  }

  .modal-dialog {
    height:100%;
    max-height: 100%;
  }

  .modal-content {
    top:0px;
    bottom:0px;
    height:100%;
    max-height: 100%;
  }

  .faves {
    overflow:scroll
  }
  
  .active-cyan-3 input[type=text] {
    border: 1px solid #4dd0e1;
    box-shadow: 0 0 0 1px #4dd0e1;
  }

  #address-input {
    width: 225px;
    margin-right: 10px;
  }

  .algolia-places {
    width: 30%;
  }

  label {
    margin-left: 20px;
  }

  #datepicker {
    width: 150px; 
    margin: 0 20px 20px 20px;
  }

  #datepicker > span:hover {
    cursor: pointer;
  }

  .map {
    width: 400px;
    float: left;
  }

  .jumbotron {
    margin-top: 20px;
  }

  #animation {
    font-family: 'Patrick Hand';
    font-size: 50px;
    letter-spacing: 3px;
    text-align: center;
    background-image: -webkit-linear-gradient(left, #147B96, #E6D205 25%, #147B96 50%, #E6D205 75%, #147B96);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-background-size: 200% 100%;
    -webkit-animation: masked-animation 4s infinite linear;
     }

   @-webkit-keyframes masked-animation {
    0%{ background-position: 0 0;}
    100% { background-position: -100% 0;}
   }
  

  .headerImage img {
    width: 100%;
  }

  font-family: 'Amatic SC';
    letter-spacing: 2px;