.trbc, .card, .card-deck {
    background:transparent !important;
  }
  
  p, li, td, th, h1, h2, h3, h4 {
    color: rgb(141, 217, 247) !important;
  }
  
  body {
    background: url("../images/bc.jpg");
  }
  
  table {
      border-collapse: collapse;
      width: 100%;
      background: rgb(7, 98, 216);
      opacity:0.9; 
  }
  
  th, td {
      text-align: left;
      padding: 8px;
  }
  
  .historyBar {
  max-height:31px;
  overflow:hidden
  }
  
  .modal,.modal-open {
    top:100px;
    right:0px;
    left:auto;
    max-height: 100%;
    overflow-y:hidden!important;
  }

  .modal-dialog {
    height:100%;
    max-height: 100%;
  }

  .modal-content {
    top:0px;
    bottom:0px;
    height:100%;
    max-height: 100%;
  }

  .faves {
    overflow:scroll
  }
  
  .active-cyan-3 input[type=text] {
    border: 1px solid #4dd0e1;
    box-shadow: 0 0 0 1px #4dd0e1;
  }

  #address-input {
    width: 250px;
  }
  .algolia-places {
    width: 40%;
  }